* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

.container {
    width: 90%;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: antiquewhite; */
}

.input-container {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 30px;
}

.icon {
    padding: 10px 5px;
    color: white;
    background-color: orange;
    border: 2px solid orange;
    min-width: 50px;
    text-align: center;
}

.icon:hover {
    background-color: white;
    color: orange;
}

.input-field {
    min-width: 90%;
    padding: 10px;
    outline: none;
}

.input-field:focus {
    border: 2px solid orange;
}

.inputname {
    width: 36%;
    padding: 10px;
    outline: none;
}

.inputname:focus {
    border: 2px solid orange;
}

#firstname {
    margin-right: 40px;
}

.font {
    font-size: 18px;
}

.gender {
    cursor: pointer;
}

.gender:hover {
    color: orange;
}

.btn {
    background-color: rgb(253, 183, 52);
    font-size: 20px;
    color: white;
    padding: 15px 15px;
    border: 2px solid orange;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    color: orange;
    background-color: white;
}

.box {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    outline: none;
}

.box:focus {
    border: 2px solid orange;
}

.head {
    text-align: center;
    font-size: 35px;
}