* {
    box-sizing: border-box;
}

.container {
    width: 60%;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.input-container {
    width: 100%;
    margin-bottom: 30px;
}

.icon {
    padding: 10px 5px;
    background-color: white;
    border: 1px solid black;
    min-width: 50px;
    text-align: center;
}

.input-field {
    min-width: 88%;
    padding: 10px;
}

.inputname {
    width: 34%;
    padding: 10px;
}

#firstname {
    margin-right: 40px;
}

.font {
    font-size: 18px;
}

.btn {
    background-color: rgb(245, 174, 42);
    font-size: 20px;
    color: white;
    padding: 15px 15px;
    border: 2px solid orange;
    border-radius: 6px;
    cursor: pointer;
    width: 100%;
}

.btn:hover {
    color: orange;
    background-color: white;
}

.box {
    padding: 10px;
    width: 100%;
    font-size: 16px;
}

.head {
    text-align: center;
    font-size: 35px;
}