* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.image {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    opacity: 0.7;
    /* position: relative; */
}

.image1 {
    background-image: url(image/image1.jpg);
}

.image2 {
    background-image: url(image/image2.jpg);
    height: 50vh;
}

.image3 {
    background-image: url(image/image3.jpg);
    height: 50vh;
}

.image4 {
    background-image: url(image/image4.jpg);
}

.name {
    width: 380px;
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(255, 178, 89);
    border: 2px solid rgb(238, 176, 100);
    color: white;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 40%;
    top: 250px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgb(255, 116, 2);
    transition: 0.3s;
}

.name:hover {
    background-color: aliceblue;
    color: rgb(238, 176, 100);
    cursor: pointer;
    transform: scale(1.1);
}

.lorem1 {
    height: 200px;
    background-color: rgb(243, 220, 188);
    padding: 50px;
    text-align: center;
}
