* {
    box-sizing: border-box;
}

body {
    background-color: aqua;
}

.calculator {
    width: 400px;
    height: 600px;
    background-color: rgb(43, 43, 43);
    margin: 160px auto;
    border-radius: 10px;
    overflow: hidden;
}

input {
    width: 360px;
    height: 90px;
    font-size: 60px;
    margin: 30px 20px;
    background-color: rgb(20, 20, 20);
    color: white;
    text-align: right;
    box-shadow: 0 0 5px white;
    border-radius: 4px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 440px;
    overflow: hidden;
    padding-top: 2px;
}

.row {
    display: flex;
    width: 100%;
    margin: 0px 20px;
    gap: 25px;
}

.btn {
    width: 20%;
    height: 70px;
}

.btn2 {
    width: 46%;
    height: 70px;
}

button {
    font-size: 24px;
    color: white;
    border: 1px solid black;
    border-radius: 8px;
    background-color: black;
    box-shadow: 0 0 5px white;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
}

.row:nth-child(1) button{
    color: red;
}

.row:nth-child(2) button:last-child{
    color: red;
}

.row:nth-child(3) button:last-child{
    color: red;
}

.row:nth-child(4) button:last-child{
    color: red;
}

.row:nth-child(5) button:last-child{
    color: red;
}
