* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 390px;
    height: 450px;
    margin: 200px auto;
    border-radius: 10px;
    overflow: hidden;
}

.head {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #54BEB2;
    background-color: #54BEB2;
    color: white;
}

.month {
    font-size: 22px;
    font-weight: 600;
}

.body {
    width: 100%;
    height: 100%;
    background-color: rgb(26, 26, 26);
    color: white;
}

.body-head {
    display: flex;
    margin: 0 15px;
    padding: 18px 0px;
    gap: 32px;
    font-size: 14px;
}